@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
  src:url("/Inter.ttf")
}

:root {
  --orange: #FF7A00;
  --yellow: #FFC700;
  --white: #FFFFFF;
  --black: #000000;
  --lightGray: #878787;
  --gray: #1B1B1B;
  --darkGray: #0D0D0D;
  --transparent: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0D0D0D;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1B1B1B;
  border-radius: 10px;
}

html,
body {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  font-family: inter;
  background-color: #111111;
  color: #FFFFFF;
}



.MuiInputBase-root{
  border-color: var(--lightGray);
}

/* .MuiFormLabel-root.Mui-focused {
  color: red;
} */

/* .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: red;
} */

.MuiInputBase-input {
  background-color: var(--darkGray);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.MuiInputBase-root {
  background-color: var(--darkGray);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--lightGray);
}

.MuiInputBase-root:focus .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

.MuiSelect-filled {
  background-color: var(--darkGray);
  /* color: var(--lightGray) */

}

.MuiSelect-filled:focus {
  background-color: var(--darkGray);
}

.MuiSelect-filled:hover {
  background-color: var(--darkGray);
}


.MuiList-root {
  background-color: var(--darkGray);
  color: var(--lightGray)
}

