@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
  src:url("/Inter.ttf")
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0D0D0D;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1B1B1B;
  border-radius: 10px;
}

html,
body {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  font-family: inter;
  background-color: #111111;
  color: #FFFFFF;
}

